.hero {
    background-position: bottom;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
}

.secondary-content {
    width: 80%;
    margin:auto;

}

h3.section-content {
    font-size: 25px;
    margin:20px 0 20px 0;

}

p.secondary-content{
    font-size: 16px;
    line-height: 1.5;
    margin:20px 0 20px 0;

}
  
ul.secondary-content {
    color: #39a6b6;
    margin: 10px 0 10px 0;
}




